# First print your name in the cell below then save this file. (or something nice about your instructor)

In [34]:
# In this cell print your name 
print("Mahmood Gheith")

Mahmood Gheith

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [35]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [36]:
# Load in the data file using `pd.read_csv()`

df = pd.read_csv('listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [37]:
# 1. How many listings are there with a price less than 100? 

df[df['price'] < 100].shape[0]

22778

In [38]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

df_bk = df[df['neighbourhood_group'] == 'Brooklyn']
print(f"Number of listings in Brooklyn: {df_bk.shape[0]}")
df_bk.shape[0]

Number of listings in Brooklyn: 18632

18632

In [39]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

df_bk[df_bk['price'] < 100].shape[0]

10473

In [40]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those name
df[df['host_name'].isin(['Michael', 'David' , 'John' , 'Daniel'])]

#Shows 1258 rows which means that is the total there are with these names

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Entire home/apt,91,14,97,2018-01-31,0.83,1,44
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Entire home/apt,205,15,68,2019-12-14,0.67,2,89
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Entire home/apt,187,30,90,2020-07-31,0.81,1,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46362,44639591,Central & Stylish 1 Bedroom Apt - Heart of Che...,286136716,John,Manhattan,Chelsea,40.74568,-73.99694,Entire home/apt,110,30,0,NaN,NaN,3,110
46396,44661297,Flushing Sunshine home #101,361579037,Daniel,Queens,Flushing,40.74603,-73.82837,Private room,52,1,0,NaN,NaN,2,360
46403,44662157,Flushing Sunshine home #102,361579037,Daniel,Queens,Flushing,40.74441,-73.82829,Private room,55,1,3,2020-08-16,3.00,2,365
46455,44697211,David’s Queen Sized Room,343477029,David,Queens,Far Rockaway,40.59460,-73.75875,Private room,95,1,0,NaN,NaN,1,365
46508,44797527,Long-Term: Furnished Apt in Nolita w/ Amenities,19448640,David,Manhattan,Nolita,40.72289,-73.99400,Entire home/apt,140,30,0,NaN,NaN,1,282

In [ ]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before.

df['adjusted_price'] = df['price'] + df['neighbourhood'].eq('Williamsburg') * 100

0        175
1         75
2         60
3        175
4         65
        ...
46522    145
46523     87
46524     59
46525     80
46526     66
Name: adjusted_price, Length: 46527, dtype: int64

In [57]:
# 6. What % of the rooms are private, and what % of the rooms are shared.
room_percent = df['room_type'].value_counts(normalize=True) * 100
print(room_percent)

room_type
Entire home/apt    51.578653
Private room       45.444581
Shared room         2.121349
Hotel room          0.855417
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [58]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

df.groupby('neighbourhood_group').size()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [ ]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups.

df.groupby('neighbourhood_group')['price'].mean()

In [61]:
# 2.5. Using `groupby`, find the mean price for each room_type.

df.groupby('room_type')['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [60]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [ ]:
# 4. Using `groupby`, find the median price for each room_type in each neighbourhood_group.

df.groupby(['neighbourhood_group', 'room_type'])['price'].median()

In [ ]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

df.groupby(['room_type', 'neighbourhood_group'])['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [ ]:
# 1. Load the `prices.csv` and the `n_listings.csv`

prices_df = pd.read_csv('../data/prices.csv')
n_listings_df = pd.read_csv('../data/n_listings.csv')

print("Prices DataFrame shape:", prices_df.shape)
print("N_listings DataFrame shape:", n_listings_df.shape)
print("\nPrices columns:", prices_df.columns.tolist())
print("N_listings columns:", n_listings_df.columns.tolist())

In [ ]:
# 2. Do join that keeps all the records for each table.

# Outer join to keep all records from both tables
joined_df = pd.merge(prices_df, n_listings_df, on='neighbourhood_group', how='outer')

print("Joined DataFrame shape:", joined_df.shape)
print("Neighbourhood groups:", joined_df['neighbourhood_group'].unique())
joined_df.head()

In [ ]:
# 3. Save your joined csv as `joined.csv` into the data folder.

joined_df.to_csv('../data/joined.csv', index=False)
print("File saved as '../data/joined.csv'")

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# Load the saved file
loaded_df = pd.read_csv('../data/joined.csv')

print("Original DataFrame shape:", joined_df.shape)
print("Loaded DataFrame shape:", loaded_df.shape)
print("\nDataFrames are equal:", joined_df.equals(loaded_df))

loaded_df.head()

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [ ]:
# Load the Grammy data
grammys_df = pd.read_csv('../data/grammys.csv')

print("Grammy data shape:", grammys_df.shape)
print("Columns:", grammys_df.columns.tolist())
print("\nFirst few rows:")
grammys_df.head()

In [ ]:
# 1. Who won Album of the Year in 2016?

album_2016 = grammys_df[
    (grammys_df['year'] == 2016) & 
    (grammys_df['category'] == 'Album Of The Year') & 
    (grammys_df['winner'] == True)
]

print("Album of the Year winner in 2016:")
if not album_2016.empty:
    print(f"Artist: {album_2016['artist'].values[0]}")
    print(f"Album: {album_2016['title'].values[0]}")
else:
    print("No winner found - let's check available categories and years")
    print("Available categories:", grammys_df['category'].unique()[:10])
    print("Available years:", sorted(grammys_df['year'].unique()))

In [ ]:
# 2. Who won Best Rap Album in 2009?

rap_2009 = grammys_df[
    (grammys_df['year'] == 2009) & 
    (grammys_df['category'].str.contains('Rap Album', case=False, na=False)) & 
    (grammys_df['winner'] == True)
]

print("Best Rap Album winner in 2009:")
if not rap_2009.empty:
    print(f"Artist: {rap_2009['artist'].values[0]}")
    print(f"Album: {rap_2009['title'].values[0]}")
    print(f"Category: {rap_2009['category'].values[0]}")
else:
    # Let's check what rap categories exist
    rap_categories = grammys_df[grammys_df['category'].str.contains('Rap', case=False, na=False)]['category'].unique()
    print("No exact match found. Available Rap categories:")
    for cat in rap_categories:
        print(f"  - {cat}")

In [ ]:
# 3. How many awards was Kendrick Lamar nominated for, and how many did he win?

# Find all Kendrick Lamar nominations
kendrick_nominations = grammys_df[grammys_df['artist'].str.contains('Kendrick Lamar', case=False, na=False)]

# Count total nominations
total_nominations = len(kendrick_nominations)

# Count wins
total_wins = len(kendrick_nominations[kendrick_nominations['winner'] == True])

print(f"Kendrick Lamar Grammy Statistics:")
print(f"Total Nominations: {total_nominations}")
print(f"Total Wins: {total_wins}")
print(f"Win Rate: {(total_wins/total_nominations*100):.1f}%" if total_nominations > 0 else "No nominations found")

print("\nKendrick Lamar's Grammy wins:")
kendrick_wins = kendrick_nominations[kendrick_nominations['winner'] == True]
for _, row in kendrick_wins.iterrows():
    print(f"  {row['year']}: {row['category']} - '{row['title']}'")

print(f"\nSample nominations:")
kendrick_nominations[['year', 'category', 'title', 'winner']].head(10)

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.