# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [2]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [3]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '../data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [4]:
# Count by hand. (lol kidding)
df_food.shape

(125, 61)

What are the columns and their types in this data set?

In [5]:
# Show the column names and their types.
print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [6]:
# Remove ‚Äòem.
df_food = df_food[['calories_day','weight','Gender']]
df_food.dtypes

calories_day    float64
weight           object
Gender            int64
dtype: object

In [7]:
df_food.shape

(125, 3)

What about `NaN`s? How many are there?

In [8]:
# Count ‚Äòem.

df_food.isna().sum()

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [9]:
# Drop ‚Äòem.

df_food = df_food.dropna()
df_food.isna().sum()

calories_day    0
weight          0
Gender          0
dtype: int64

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [10]:
# Fix that.
df_food['weight'] = pd.to_numeric(df_food['weight'], errors='coerce')
df_food.dropna(subset=['weight'], inplace=True)

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [11]:
# Savey save!

df_food.to_csv('../data/food_data.csv')

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [12]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df_salary = pd.read_csv('../data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', sep = '\t')
df_salary.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

In [13]:
df_salary.to_csv('../data/manager_salary_survey.csv')

### Explore

You know the drill.

How much data did you just load?

In [14]:
# Count by hand. I‚Äôm dead serious.
#NOOOOOOOOOOOOOOOOOOOOO

df_salary.shape

(28062, 18)

What are the columns and their types?

In [15]:
# Show the column names and their types.
df_salary.dtypes
#What kind of dataset is this? why are columns so badly named

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [16]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

old_columns = ['Timestamp',
'How old are you?',
'What industry do you work in?',
'Job title',
'If your job title needs additional context, please clarify here:',
'What is your annual salary? (You\'ll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
'Please indicate the currency',
'If "Other," please indicate the currency here:',
'If your income needs additional context, please provide it here:',
'What country do you work in?',
'If you\'re in the U.S., what state do you work in?',
'What city do you work in?',
'How many years of professional work experience do you have overall?',
'How many years of professional work experience do you have in your field?',
'What is your highest level of education completed?',
'What is your gender?',
'What is your race? (Choose all that apply.)'
]

new_columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']

rename_dict = dict(zip(old_columns, new_columns))

df_salary.rename(columns=rename_dict, inplace=True)

df_salary.dtypes

timestamp                                           object
age                                                 object
industry                                            object
title                                               object
title_context                                       object
salary                                              object
additional_compensation                            float64
currency                                            object
If "Other," please indicate the currency here:      object
salary_context                                      object
country                                             object
state                                               object
city                                                object
total_yoe                                           object
field_yoe                                           object
highest_education_completed                         object
gender                                              object
race                                                object
dtype: object

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

It was üòº
I've played these games before

In [17]:
# List the unique industries and a count of their instances.

industry_counts = df_salary['industry'].value_counts()
print(industry_counts)

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [18]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

cs_industry_value = 'Technology'
tech_df = df_salary.loc[df_salary['industry'] == 'Computing or Tech', :]
tech_df.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,"If ""Other,"" please indicate the currency here:",salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [19]:
# Sanity Check 

tech_df['industry'].value_counts()

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [20]:
# Filtery filter for just the jobs that pay in USD!
new_tech_df = tech_df[tech_df['currency'] == 'USD']

new_tech_df.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,"If ""Other,"" please indicate the currency here:",salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [21]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

new_tech_df['country'].value_counts()

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Ghana                          1
Nigeria                        1
ss                             1
Nigeria                        1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [22]:
# Replace them all with 'US'.
new_tech_df['country'].replace(new_tech_df['country'].value_counts().index[:5], 'US', inplace=True)

/tmp/ipykernel_20009/921820754.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_tech_df['country'].replace(new_tech_df['country'].value_counts().index[:5], 'US', inplace=True)
/tmp/ipykernel_20009/921820754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_tech_df['country'].replace(new_tech_df['country'].value_counts().index[:5], 'US', inplace=True)

Have a look at the count of each unique country again now.

In [23]:
# Count again.

new_tech_df['country'].value_counts()

country
US                3408
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Ghana                1
Nigeria              1
ss                   1
Nigeria              1
Burma                1
Name: count, Length: 72, dtype: int64

Did you notice anything interesting?

In [24]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [25]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [ ]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

salary_stats = new_tech_df[new_tech_df['country'] == 'US'].groupby('state')['salary'].agg(['min', 'mean', 'max'])

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [ ]:
# Fix it.
new_tech_df['salary'] = pd.to_numeric(new_tech_df['salary'], errors='coerce')

# Drop all rows where the 'salary' column has a NaN value
new_tech_df.dropna(subset=['salary'], inplace=True)

/tmp/ipykernel_20009/684078888.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_tech_df['salary'] = pd.to_numeric(new_tech_df['salary'], errors='coerce')
/tmp/ipykernel_20009/684078888.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_tech_df.dropna(subset=['salary'], inplace=True)

Let‚Äôs try that again.

In [37]:
# Try it again. Yeah!

salary_stats = new_tech_df[new_tech_df['country'] == 'US'].groupby('state')['salary'].agg(['min', 'mean', 'max'])
print(salary_stats)

                                     min           mean        max
state
Alabama                          52000.0   73500.000000    95000.0
Arizona                          35000.0   96400.000000   142000.0
Arkansas                         60000.0   77333.333333    95000.0
California                           0.0  155216.905063   520000.0
California, Colorado            176000.0  176000.000000   176000.0
California, Maryland             81500.0   81500.000000    81500.0
California, Oregon              200000.0  200000.000000   200000.0
Colorado                         49400.0  108376.470588   165000.0
Connecticut                      68000.0  170137.500000   270000.0
District of Columbia             59000.0  145000.000000   200000.0
District of Columbia, Virginia  109200.0  109200.000000   109200.0
Florida                          28800.0  229567.650000  2600000.0
Georgia                          29120.0  116956.875000   242000.0
Idaho                            82000.0  115666.666667   170000.0
Illinois                         36000.0  119357.656250   228800.0
Indiana                          15000.0   85400.000000   140000.0
Iowa                             63000.0  101200.000000   142000.0
Kansas                           41500.0  109666.666667   167000.0
Kentucky                         62000.0  102500.000000   125000.0
Louisiana                        75000.0   80500.000000    84000.0
Louisiana, Washington           117000.0  117000.000000   117000.0
Maine                            50000.0   90000.000000   114000.0
Maryland                         62000.0  116642.100000   162000.0
Massachusetts                    41000.0  125423.695652   400000.0
Michigan                         41600.0   95492.857143   235000.0
Minnesota                        52124.0  101064.941176   210000.0
Missouri                            80.0   82870.818182   200000.0
Montana                          65000.0  112666.666667   145000.0
Nebraska                         43000.0   70920.000000   140000.0
Nevada                          107100.0  124550.000000   142000.0
New Hampshire                       55.0   78611.000000   120000.0
New Jersey                       90000.0  129750.000000   192000.0
New Jersey, New York            135000.0  137500.000000   140000.0
New Mexico                       82000.0   95733.333333   115200.0
New York                         14000.0  148213.564356   590000.0
North Carolina                   29000.0   98151.785714   165000.0
Ohio                             42000.0   87213.333333   179000.0
Oklahoma                         36958.0   84802.571429   180000.0
Oregon                           16200.0  123994.871795   230000.0
Pennsylvania                     52000.0  114867.187500   237000.0
Rhode Island                     76000.0   99475.000000   122950.0
South Carolina                   40000.0   40000.000000    40000.0
Tennessee                        61500.0   91750.000000   144000.0
Texas                            10700.0  102694.339623   185000.0
Utah                             33280.0  105023.333333   176000.0
Vermont                          91250.0  105625.000000   120000.0
Virginia                         58750.0  119575.392857   378000.0
Washington                          72.0  138048.222222   300000.0
West Virginia                   120000.0  120000.000000   120000.0
Wisconsin                            1.0  142952.040000   920000.0

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [38]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

new_tech_df['timestamp'] = pd.to_datetime(new_tech_df['timestamp'])
timed_df = new_tech_df[new_tech_df['timestamp'].dt.year.isin([2021, 2022])]
print(timed_df)

                timestamp    age           industry  \
8999  2021-04-27 17:02:03  35-44  Computing or Tech
11900 2021-04-28 06:41:31  45-54  Computing or Tech
15238 2021-04-28 16:45:53  18-24  Computing or Tech
15885 2021-04-28 17:22:37  25-34  Computing or Tech
18140 2021-04-28 22:49:19  25-34  Computing or Tech
...                   ...    ...                ...
27887 2022-10-19 18:19:22  35-44  Computing or Tech
27888 2022-10-21 19:59:05  25-34  Computing or Tech
27892 2022-11-03 17:18:54  35-44  Computing or Tech
27907 2022-11-30 16:49:40  25-34  Computing or Tech
27915 2022-12-13 18:21:14  25-34  Computing or Tech

                                 title title_context    salary  \
8999         Software Development Lead           NaN       1.0
11900                  Account Manager           NaN      55.0
15238                 Product Marketer           NaN       0.0
15885             Chief Data Scientist           NaN     240.0
18140                 Technical Writer           NaN      72.0
...                                ...           ...       ...
27887               Senior UX Designer           NaN  175000.0
27888                 Systems Engineer           NaN  114000.0
27892                  Program Manager           NaN  138000.0
27907  Senior bioinformatics scientist           NaN  170420.0
27915    Business Development Director           NaN  111000.0

       additional_compensation currency  \
8999                  130000.0      USD
11900                     12.0      USD
15238                      0.0      USD
15885                    100.0      USD
18140                      0.0      USD
...                        ...      ...
27887                  15000.0      USD
27888                  20000.0      USD
27892                   5000.0      USD
27907                  20000.0      USD
27915                  30000.0      USD

      If "Other," please indicate the currency here:   \
8999                                              NaN
11900                                             NaN
15238                                             NaN
15885                                             NaN
18140                                             NaN
...                                               ...
27887                                             NaN
27888                                             NaN
27892                                             NaN
27907                                             NaN
27915                                             NaN

                                          salary_context country  \
8999                                                 NaN      US
11900                                  Base + commission      US
15238  Start up without funding. Compensation is in s...      US
15885  Additional compensation is expected value of o...      US
18140                                                NaN      US
...                                                  ...     ...
27887                                                NaN      US
27888                                                NaN      US
27892                                                NaN      US
27907                                                NaN      US
27915                                                NaN      US

               state         city       total_yoe       field_yoe  \
8999       Wisconsin      Madison    8 - 10 years    8 - 10 years
11900  New Hampshire   Manchester   21 - 30 years    8 - 10 years
15238     California  Santa Clara  1 year or less  1 year or less
15885     California      Oakland       5-7 years       5-7 years
18140     Washington   Silverdale    8 - 10 years     2 - 4 years
...              ...          ...             ...             ...
27887     California    Sunnyvale   11 - 20 years   11 - 20 years
27888      Wisconsin       Verona     2 - 4 years     2 - 4 years
27892          Texas      Houston   21 - 30 years   21 - 30 years
27907     California  SF Bay Area     2 - 4 years     2 - 4 years
27915     California   Costa Mesa       5-7 years     2 - 4 years

      highest_education_completed gender  \
8999              Master's degree    Man
11900              College degree  Woman
15238              College degree    Man
15885                         PhD    Man
18140              College degree  Woman
...                           ...    ...
27887             Master's degree  Woman
27888             Master's degree  Woman
27892              College degree  Woman
27907                         PhD  Woman
27915              College degree    Man

                                             race
8999                                        White
11900                                       White
15238                     Asian or Asian American
15885                                       White
18140                                       White
...                                           ...
27887         Hispanic, Latino, or Spanish origin
27888                                       White
27892                                       White
27907                                       White
27915  Hispanic, Latino, or Spanish origin, White

[1011 rows x 18 columns]

/tmp/ipykernel_20009/4127247528.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_tech_df['timestamp'] = pd.to_datetime(new_tech_df['timestamp'])

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)