# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [1]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [5]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '../data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [7]:
# Count by hand. (lol kidding)
print(df_food.shape)

(125, 61)

What are the columns and their types in this data set?

In [10]:
# Show the column names and their types.

print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [12]:
# Remove ‚Äòem.
df_food = df_food[["calories_day", "weight", "Gender"]]
print(df_food.head())

   calories_day                    weight  Gender
0           NaN                       187       2
1           3.0                       155       1
2           4.0  I'm not answering this.        1
3           3.0             Not sure, 240       1
4           2.0                       190       1

What about `NaN`s? How many are there?

In [13]:
# Count ‚Äòem.
print(df_food.isna().sum())

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [14]:
# Drop ‚Äòem.
df_food = df_food.dropna()
print(df_food.shape)

(104, 3)

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [16]:
# Fix that.
df_food["calories_day"] = pd.to_numeric(df_food["calories_day"], errors="coerce")
df_food["weight"] = pd.to_numeric(df_food["weight"], errors = "coerce")
df_food = df_food.dropna()

print(df_food.dtypes)
print(df_food.shape)

calories_day    float64
weight          float64
Gender            int64
dtype: object
(101, 3)

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [17]:
# Savey save!
output_path = "../data/food_coded_clean.csv"
df_food.to_csv(output_path, index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [24]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
salary_data_set_path = "../data/ask_ a_manager_salary_survey_2021.tsv"
df_salary = pd.read_csv(salary_data_set_path, sep="\t")

print(df_salary.head())

            Timestamp How old are you?  What industry do you work in?  \
0  4/27/2021 11:02:10            25-34   Education (Higher Education)
1  4/27/2021 11:02:22            25-34              Computing or Tech
2  4/27/2021 11:02:38            25-34  Accounting, Banking & Finance
3  4/27/2021 11:02:41            25-34                     Nonprofits
4  4/27/2021 11:02:42            25-34  Accounting, Banking & Finance

                                  Job title  \
0        Research and Instruction Librarian
1  Change & Internal Communications Manager
2                      Marketing Specialist
3                           Program Manager
4                        Accounting Manager

  If your job title needs additional context, please clarify here:  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                             55,000
1                                             54,600
2                                             34,000
3                                             62,000
4                                             60,000

   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                0.0
1                                             4000.0
2                                                NaN
3                                             3000.0
4                                             7000.0

  Please indicate the currency  \
0                          USD
1                          GBP
2                          USD
3                          USD
4                          USD

  If "Other," please indicate the currency here:   \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

  If your income needs additional context, please provide it here:  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  What country do you work in?  \
0                United States
1               United Kingdom
2                           US
3                          USA
4                           US

  If you're in the U.S., what state do you work in? What city do you work in?  \
0                                     Massachusetts                    Boston
1                                               NaN                 Cambridge
2                                         Tennessee               Chattanooga
3                                         Wisconsin                 Milwaukee
4                                    South Carolina                Greenville

  How many years of professional work experience do you have overall?  \
0                                          5-7 years
1                                       8 - 10 years
2                                        2 - 4 years
3                                       8 - 10 years
4                                       8 - 10 years

  How many years of professional work experience do you have in your field?  \
0                                          5-7 years
1                                          5-7 years
2                                        2 - 4 years
3                                          5-7 years
4                                          5-7 years

  What is your highest level of education completed? What is your gender?  \
0                                    Master's degree                Woman
1                                     College degree           Non-binary
2                                     College degree                Woman
3                                     College degree                Woman
4                                     College degree                Woman

  What is your race? (Choose all that apply.)
0                                       White
1                                       White
2                                       White
3                                       White
4                                       White

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [25]:
# Count by hand. I‚Äôm dead serious.
print(df_salary.shape)

(28062, 18)

What are the columns and their types?

In [26]:
# Show the column names and their types.
print(df_salary.dtypes)

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [27]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df_salary = df_salary.rename(columns={
    "Timestamp": "timestamp",
    "How old are you?": "age",
    "What industry do you work in?": "industry",
    "Job title": "title",
    "If your job title needs additional context, please clarify here:": "title_context",
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "salary",
    "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": "additional_compensation",
    "Please indicate the currency": "currency",
    "If \"Other,\" please indicate the currency here: ": "other_currency",
    "If your income needs additional context, please provide it here:": "salary_context",
    "What country do you work in?": "country",
    "If you're in the U.S., what state do you work in?": "state",
    "What city do you work in?": "city",
    "How many years of professional work experience do you have overall?": "total_yoe",
    "How many years of professional work experience do you have in your field?": "field_yoe",
    "What is your highest level of education completed?": "highest_education_completed",
    "What is your gender?": "gender",
    "What is your race? (Choose all that apply.)": "race"
})

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [28]:
# List the unique industries and a count of their instances.
print(df_salary["industry"].value_counts(dropna=False))

industry
Computing or Tech                               4699
Education (Higher Education)                    2464
Nonprofits                                      2419
Health care                                     1896
Government and Public Administration            1889
                                                ...
E-commerce                                         1
Wholesale and retail trade                         1
Data Entry                                         1
Research and Development, Food and Beverage        1
life sciences                                      1
Name: count, Length: 1220, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [33]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
print(df_salary["industry"].value_counts().head())
df_tech = df_salary[df_salary["industry"] == "Computing or Tech"]
print(df_tech.shape)

industry
Computing or Tech                       4699
Education (Higher Education)            2464
Nonprofits                              2419
Health care                             1896
Government and Public Administration    1889
Name: count, dtype: int64
(4699, 18)

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [34]:
# Sanity Check 
print(df_tech["industry"].unique())

['Computing or Tech']

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [ ]:
# Filtery filter for just the jobs that pay in USD!
print(df_tech["currency"].unique())
df_tech_usd = df_tech[df_tech["currency"] == "USD"]

print(df_tech_usd["currency"].unique())

['GBP' 'USD' 'CAD' 'EUR' 'Other' 'CHF' 'AUD/NZD' 'SEK' 'JPY' 'ZAR']
['USD']

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [38]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
print(df_tech_usd["country"].value_counts().head(10))

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
United States                 68
Usa                           59
USA                           56
usa                           28
United states                 23
Name: count, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [44]:
# Replace them all with 'US'.

df_tech_usd = df_tech[df_tech["currency"] == "USD"].copy()

df_tech_usd["country"] = df_tech_usd["country"].str.strip().str.title()



top5_countries = df_tech_usd["country"].value_counts().head(5).index
df_tech_usd.loc[df_tech_usd["country"].isin(top5_countries), "country"] = "US"

print(df_tech_usd["country"].value_counts().head(10))

country
US                         3698
U.S.A.                        7
Canada                        5
Israel                        5
U.S.A                         3
India                         2
Unitedstates                  2
Australia                     2
United State Of America       2
Spain                         2
Name: count, dtype: int64

Have a look at the count of each unique country again now.

In [45]:
# Count again.
print(df_tech_usd["country"].value_counts().head(10))

country
US                         3698
U.S.A.                        7
Canada                        5
Israel                        5
U.S.A                         3
India                         2
Unitedstates                  2
Australia                     2
United State Of America       2
Spain                         2
Name: count, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [ ]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.


df_tech_usd = df_tech_usd.copy()
df_tech_usd["salary_num"] = pd.to_numeric(df_tech_usd["salary"], errors="coerce")


df_ok = df_tech_usd.dropna(subset=["state", "salary_num"])


state_salary_stats = (
    df_ok.groupby("state")["salary_num"]
         .agg(["min", "mean", "max", "count"])
         .sort_values("mean", ascending=False)
)

print(state_salary_stats.head(15))

                                  min           mean        max  count
state
Michigan, Texas, Washington  340000.0  340000.000000   340000.0      1
Florida                       28800.0  210711.000000  2600000.0     23
California, Oregon           200000.0  200000.000000   200000.0      1
California, Colorado         176000.0  176000.000000   176000.0      1
Delaware                     169000.0  169000.000000   169000.0      1
Connecticut                   68000.0  161610.000000   270000.0      5
California                        0.0  153286.988827   520000.0    179
New York                      14000.0  146594.112150   590000.0    107
Wisconsin                         1.0  145806.888889   920000.0     27
District of Columbia          59000.0  142923.076923   200000.0     13
New Jersey, New York         135000.0  137500.000000   140000.0      2
Ohio                          42000.0  137066.666667   954000.0     18
Washington                       72.0  136923.916667   300000.0     72
Massachusetts                 41000.0  125899.155844   400000.0     77
Nevada                       107100.0  124550.000000   142000.0      2

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [ ]:
# Fix it.

Let‚Äôs try that again.

In [ ]:
# Try it again. Yeah!

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
df_tech_usd = df_tech_usd.copy()
df_tech_usd["salary_num"] = pd.to_numeric(df_tech_usd["salary"], errors="coerce")
df_tech_usd["year"] = pd.to_datetime(df_tech_usd["timestamp"], errors="coerce").dt.year

df_21_23 = df_tech_usd[df_tech_usd["year"].isin([2021, 2022, 2023])].copy()
df_ok = df_21_23.dropna(subset=["state", "salary_num"])

state_salary_stats_21_23 = (
    df_ok.groupby("state")["salary_num"]
         .agg(["min", "mean", "max"])
         .sort_values("mean", ascending=False)
)

print(state_salary_stats_21_23)

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)