# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. ðŸ™‚

In [5]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But youâ€™llâ€•of courseâ€•overcome them with what you learned in class! ðŸ˜‰

## Food Choices Data Set

### Load the Data

In [24]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [25]:
# Count by hand. (lol kidding)
print(len(df_food) + 1) # + 1 to include the header

126

What are the columns and their types in this data set?

In [26]:
# Show the column names and their types.
print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps weâ€™d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. â€¦and maybe gender.

Can you remove the other columns?

In [27]:
# Remove â€˜em.
col_keep = ['calories_day', 'weight', 'Gender']
df_food = df_food[col_keep]
df_food.head()

   calories_day                    weight  Gender
0           NaN                       187       2
1           3.0                       155       1
2           4.0  I'm not answering this.        1
3           3.0             Not sure, 240       1
4           2.0                       190       1

What about `NaN`s? How many are there?

In [28]:
# Count â€˜em.
nan_count = df_food.isna().sum()
print(nan_count)

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`sâ€•the entire row.

In [29]:
# Drop â€˜em.
df_food.dropna()

     calories_day                    weight  Gender
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
5             3.0                       190       1
..            ...                       ...     ...
118           3.0                       140       1
119           3.0                       185       2
120           4.0                       156       1
121           2.0                       180       1
123           4.0                       135       2

[104 rows x 3 columns]

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ðŸ¤”

In [30]:
# Fix that.
df_food = pd.to_numeric(df_food['weight'], errors='coerce')
df_food = pd.to_numeric(df_food['Gender'], errors='coerce')
df_food = pd.to_numeric(df_food['calories_day'], errors='coerce')

KeyError: 'Gender'

Now this data seems reasonably clean for our purposes! ðŸ˜

Letâ€™s save it somewhere to be shipped off to another teammate. ðŸ’¾

In [6]:
# Savey save!
df_food.to_csv("data/food_coded_clean.csv", index=False)

NameError: name 'df_food' is not defined

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [112]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df_salary = pd.read_csv("data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv", sep="\t")

Was that hard? ðŸ™ƒ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

In [113]:
df_salary.to_csv('data/manager_salary.csv', index=False)

### Explore

You know the drill.

How much data did you just load?

In [114]:
# Count by hand. Iâ€™m dead serious.
print(len(df_salary) + 1)

28063

What are the columns and their types?

In [115]:
# Show the column names and their types.
print(df_salary.dtypes)

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Ohâ€¦ Ugh! Give these columns easier names to work with first. ðŸ™„

In [116]:
# Rename â€˜em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

df_salary.rename(columns={
    "Timestamp": "timestamp",
    "How old are you?": "age",
    "What industry do you work in?": "industry",
    "Job title": "title",
    "If your job title needs additional context, please clarify here:": "title_context",
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "salary",
    "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": "additional_compensation",
    "Please indicate the currency": "currency",
    'If "Other," please indicate the currency here: ': "other_currency",
    "If your income needs additional context, please provide it here:" : "context",
    "What country do you work in?": "country_work",
    "If you're in the U.S., what state do you work in?": "state",
    "What city do you work in?": "city",
    "How many years of professional work experience do you have overall?": "total_yoe",
    "How many years of professional work experience do you have in your field?": "field_yoe",
    "What is your highest level of education completed?": "highest_education_completed",
    "What is your gender?": "gender",
    "What is your race? (Choose all that apply.)": "race"
}, inplace=True)

print(df_salary.columns.tolist())

['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'context', 'country_work', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']

Itâ€™s a lot, and that should not have been easy. ðŸ˜

Youâ€™re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [77]:
# List the unique industries and a count of their instances.
df_salary['industry'].value_counts()

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what youâ€™re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [82]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
top_industry = df_salary['industry'].value_counts().head(5)
df_salary_tech = df_salary[df_salary["industry"].isin(top_industry)]

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [79]:
# Sanity Check 
print(df_salary_tech)

                timestamp    age                      industry  \
0      4/27/2021 11:02:10  25-34  Education (Higher Education)
1      4/27/2021 11:02:22  25-34             Computing or Tech
3      4/27/2021 11:02:41  25-34                    Nonprofits
5      4/27/2021 11:02:46  25-34  Education (Higher Education)
8      4/27/2021 11:03:01  45-54             Computing or Tech
...                   ...    ...                           ...
28053  7/12/2024 18:23:10  18-24                    Nonprofits
28057  7/12/2024 22:52:01  35-44                   Health care
28058  7/23/2024 17:51:03  25-34             Computing or Tech
28060  7/26/2024 11:20:45  18-24             Computing or Tech
28061   8/20/2024 1:06:13  25-34                   Health care

                                          title                 title_context  \
0            Research and Instruction Librarian                           NaN
1      Change & Internal Communications Manager                           NaN
3                               Program Manager                           NaN
5                Scholarly Publishing Librarian                           NaN
8                               Systems Analyst  Data developer/ETL Developer
...                                         ...                           ...
28053                  Adminstration Specialist                           NaN
28057                              Veterinarian                           NaN
28058                         Systems Architect                           NaN
28060                                        IT                           NaN
28061                    Clinical physiologist                            NaN

        salary  additional_compensation currency other_currency context  \
0       55,000                      0.0      USD            NaN     NaN
1       54,600                   4000.0      GBP            NaN     NaN
3       62,000                   3000.0      USD            NaN     NaN
5       62,000                      NaN      USD            NaN     NaN
8      112,000                  10000.0      USD            NaN     NaN
...        ...                      ...      ...            ...     ...
28053     1641                      NaN      CAD            NaN     NaN
28057   135000                      NaN      USD            NaN     NaN
28058   109000                      NaN      USD            NaN     NaN
28060     1700                     10.0      USD            NaN     NaN
28061  1200000                      NaN    Other            NGN     NaN

         country_work          state         city       total_yoe  \
0       United States  Massachusetts       Boston       5-7 years
1      United Kingdom            NaN    Cambridge    8 - 10 years
3                 USA      Wisconsin    Milwaukee    8 - 10 years
5                 USA  New Hampshire      Hanover    8 - 10 years
8                  US       Missouri    St. Louis   21 - 30 years
...               ...            ...          ...             ...
28053          Taiwan            NaN       Taipei  1 year or less
28057  United States        Missouri  Wentzville    11 - 20 years
28058             USA        Georgia      Atlanta       5-7 years
28060           Burma            NaN       Yangon     2 - 4 years
28061        Nigeria             NaN        Lagos     2 - 4 years

            field_yoe         highest_education_completed      gender  \
0           5-7 years                     Master's degree       Woman
1           5-7 years                      College degree  Non-binary
3           5-7 years                      College degree       Woman
5         2 - 4 years                     Master's degree         Man
8       21 - 30 years                      College degree       Woman
...               ...                                 ...         ...
28053  1 year or less                                 NaN         Man
28057   11 - 20 years  Professional degree (MD, JD, etc.)       Woman
28058       5-7 years                      College degree         Man
28060  1 year or less                        Some college         Man
28061     2 - 4 years                      College degree       Woman

                            race
0                          White
1                          White
3                          White
5                          White
8                          White
...                          ...
28053    Asian or Asian American
28057                      White
28058                      White
28060    Asian or Asian American
28061  Black or African American

[13367 rows x 18 columns]

We are very interested in salary figures. But how many dollars ðŸ’µ is a euro ðŸ’¶ or a pound ðŸ’·? That sounds like a problem for another day. ðŸ« 

For now, letâ€™s just look at U.S. dollars (`'USD'`).

In [65]:
# Filtery filter for just the jobs that pay in USD!
df_usd = df_salary[df_salary['currency'] == 'USD']
print(df_usd)

                timestamp    age                      industry  \
0      4/27/2021 11:02:10  25-34  Education (Higher Education)
3      4/27/2021 11:02:41  25-34                    Nonprofits
5      4/27/2021 11:02:46  25-34  Education (Higher Education)
8      4/27/2021 11:03:01  45-54             Computing or Tech
10     4/27/2021 11:03:03  25-34                    Nonprofits
...                   ...    ...                           ...
28051   7/1/2024 20:05:58  25-34             Computing or Tech
28052   7/3/2024 14:02:01  25-34             Computing or Tech
28057  7/12/2024 22:52:01  35-44                   Health care
28058  7/23/2024 17:51:03  25-34             Computing or Tech
28060  7/26/2024 11:20:45  18-24             Computing or Tech

                                        title                 title_context  \
0          Research and Instruction Librarian                           NaN
3                             Program Manager                           NaN
5              Scholarly Publishing Librarian                           NaN
8                             Systems Analyst  Data developer/ETL Developer
10                             Office Manager                           NaN
...                                       ...                           ...
28051                    Junior data analyst                            NaN
28052  Senior Global Public Relations Manager                           NaN
28057                            Veterinarian                           NaN
28058                       Systems Architect                           NaN
28060                                      IT                           NaN

        salary  additional_compensation currency other_currency country  \
0       55,000                      0.0      USD            NaN     NaN
3       62,000                   3000.0      USD            NaN     NaN
5       62,000                      NaN      USD            NaN     NaN
8      112,000                  10000.0      USD            NaN     NaN
10      47,500                      0.0      USD            NaN     NaN
...        ...                      ...      ...            ...     ...
28051    35000                  15000.0      USD            NaN     NaN
28052   144000                  15000.0      USD            NaN     NaN
28057   135000                      NaN      USD            NaN     NaN
28058   109000                      NaN      USD            NaN     NaN
28060     1700                     10.0      USD            NaN     NaN

              country          state  \
0       United States  Massachusetts
3                 USA      Wisconsin
5                 USA  New Hampshire
8                  US       Missouri
10      United States            NaN
...               ...            ...
28051             Usa        Alabama
28052             Usa  Massachusetts
28057  United States        Missouri
28058             USA        Georgia
28060           Burma            NaN

                                               city      total_yoe  \
0                                            Boston      5-7 years
3                                         Milwaukee   8 - 10 years
5                                           Hanover   8 - 10 years
8                                         St. Louis  21 - 30 years
10                                       Boston, MA      5-7 years
...                                             ...            ...
28051                                      Alabama     2 - 4 years
28052  Boise-but remote. Company located in Boston    8 - 10 years
28057                                   Wentzville   11 - 20 years
28058                                       Atlanta      5-7 years
28060                                        Yangon    2 - 4 years

            field_yoe         highest_education_completed gender  \
0           5-7 years                     Master's degree  Woman
3           5-7 years                      College degree  Woman
5         2 - 4 years                     Master's degree    Man
8       21 - 30 years                      College degree  Woman
10          5-7 years                      College degree  Woman
...               ...                                 ...    ...
28051     2 - 4 years                      College degree  Woman
28052    8 - 10 years                     Master's degree  Woman
28057   11 - 20 years  Professional degree (MD, JD, etc.)  Woman
28058       5-7 years                      College degree    Man
28060  1 year or less                        Some college    Man

                            race
0                          White
3                          White
5                          White
8                          White
10                         White
...                          ...
28051  Black or African American
28052                      White
28057                      White
28058                      White
28060    Asian or Asian American

[11084 rows x 18 columns]

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [87]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
top_country = df_salary['country_work'].value_counts()
print(top_country)

country_work
United States                                8992
USA                                          7934
US                                           2610
Canada                                       1570
United States                                 667
                                             ...
Aotearoa New Zealand                            1
croatia                                         1
Company in Germany. I work from Pakistan.       1
Liechtenstein                                   1
United States is America                        1
Name: count, Length: 379, dtype: int64

### Clean the Data

Well, we canâ€™t get our answers with what we currently have, so youâ€™ll have to make some changes.

Letâ€™s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical valueâ€•say, `'US'`, which is nice and short.

In [96]:
# Replace them all with 'US'.

top_5 = df_salary['country_work'].value_counts().nlargest(5).index.tolist()

df_salary['country_work'].replace(top_5, 'US', inplace=True)

print(df_salary["country_work"])

0              US
1              US
2              US
3              US
4              US
           ...
28057          US
28058          US
28059     Myanmar
28060       Burma
28061    Nigeria
Name: country_work, Length: 28062, dtype: object

Have a look at the count of each unique country again now.

In [99]:
# Count again.
print(df_salary['country_work'].value_counts())

country_work
US                      25344
usa                       183
Germany                   173
England                   134
united states             116
                        ...
Poland                      1
NIGERIA                     1
Policy                      1
na                          1
Aotearoa New Zealand        1
Name: count, Length: 367, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if youâ€™ve resolved it, letâ€™s see how well you did by counting the number of instances of each unique value.

Itâ€™s looking good so far. Letâ€™s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [ ]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

salary_calc = df_salary.groupby('state')['salary'].agg(['min', 'mean', 'max'])

salary_calc = salary_calc.sort_values(by='mean', ascending=False)

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isnâ€™t numeric. Something wrong must be fixed.

In [104]:
# Fix it.
df_salary['salary'] = pd.to_numeric(df_salary['salary'], errors='coerce')

Letâ€™s try that again.

In [105]:
# Try it again. Yeah!
salary_calc = df_salary.groupby('state')['salary'].agg(['min', 'mean', 'max'])

salary_calc = salary_calc.sort_values(by='mean', ascending=False)

That did the trick! Now letâ€™s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
df_salary['timestamp'] = pd.to_datetime(df_salary['timestamp'], errors='coerce')

df_21_22 = df_salary[df_salary['timestamp'].dt.year.isin([2021, 2022])].copy()


df_21_22['salary'] = pd.to_numeric(df_21_22['salary'], errors='coerce')

salary_stats_21_22 = df_21_22.groupby('state')['salary'].agg(['min', 'mean', 'max'])

salary_stats_21_22 = salary_stats_21_22.sort_values(by='mean', ascending=False)

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity youâ€™ve now reached. What do you notice about Delaware and West Virginia?

Letâ€™s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximumâ€•say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests youâ€•like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* ðŸ˜œ)